*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
<<<<<<< HEAD
    box-sizing: border-box;
=======
}
html{
    background: url(../img/fondo-hv.png);
>>>>>>> fondo
}